{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Self-contained 🥡</h2>
          <p>The shell scripting language should be able to run without external dependencies.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Predictable 🔮</h2>
          <p>The shell scripting language should be structured and consistent, allowing for reliable and expected behavior.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Reproducible 📀</h2>
          <p>The shell scripting language should enable users to replicate results with minimal effort.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Familiar 👪</h2>
          <p>The shell scripting language should be intuitive, allowing users to quickly learn and use the language.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">High level 🗻</h2>
	  <p>The shell scripting language should abstract away the lower-level details, allowing users to focus on the logic of their solution.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Typed 🧩</h2>
          <p>The shell scripting language should provide data type enforcement, ensuring that data is handled correctly and safely.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
